nav {
  padding-top: modular_scale(1);
  border-bottom: 1px solid $base-border-color;
  text-align: center;
  padding-bottom: modular_scale(0);
  @include outer-container;
  li {
    display: inline-block;
    margin-right: modular_scale(3);
    font-size: modular_scale(2);
  }
}
