ul,
ol {
  margin: 0;
}

li {
  margin-bottom: modular_scale(-1);
  font-size: modular_scale(1)
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: 600;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}
