---
title: about me | daplgray
---

<main class="about-main">
  <section class="about-section-1">
    <img src="/images/facebookDavid.jpg" alt="David Ray">

    <article>
      <h1>About Me</h1>
      <p>My name is David Ray. I am a designer and frontend web developer. I grew up in the San Francisco bay area and have lived in southern California for the past 8 years. I am passionate about the arts and the act of creation. I have been a self-taught web developer for the past two years and am available for hire for full-time, contract, or freelance work. I love meeting new people and working in a team.</p>
      <p>Feel free to contact me at <a href="/contact">David.Ray.WC@gmail.com</a>.</p>
      <h2>Some Fun Facts</h2>
      <ul>
        <li>I used to work for <a href="http://pirch.com" target="_blank">PIRCH</a> as the Supervisor of Showroom Experiences. I would lead the event marketing and curate special experiences for guests that visited the interactive showrooms.</li>
        <li>While at PIRCH, I would organize and host weekly cooking classes. I love to cook.</li>
        <li>Before working for PIRCH, I played bass and sang in an indie rock band in Los Angeles. I also was in charge of all the social media for the band and was the primary contact for promoters and booking.</li>
        <li>I have 15 years of musical performance experience and play 8 instruments.</li>
        <li>I also occasionally write <a href="https://medium.com/@David.Ray/the-continental-juliet-d0994f403123#.v704ng81l" target="_blank">fiction</a>.</li>
      </ul>
    </article>
  </section>

</main>
