<main class="contact-main">
  <article class="card">
    <h1>Contact me</h1>
    <p>You can find me here:</p>
    <div class="icon-row">
      <a href="#" class="btn"><i class="fa fa-github"></i></a>
      <a href="#" class="btn"><i class="fa fa-linkedin"></i></a>
      <a href="#" class="btn"><i class="fa fa-twitter"></i></a>
    </div>
    <p>Send me an email at David.Ray.WC@gmail.com.</p>
    <p>Or use the form below:</p>
    <form action="https://formspree.io/david.ray.wc@gmail.com"
      method="POST">
        <p>Name</p>
        <input type="text" name="name">
        <p>Email</p>
        <input type="email" name="_replyto">
        <p>Message</p>
        <textarea name="message-body" rows="3"></textarea>
        <button type="submit" value="Submit">Submit</button>
    </form>
  </article>
</main>
