---
title: daplgray
---

<main>

  <section class="home-hero">
    <div class="container">
      <div class="figure">
        <img src="https://pbs.twimg.com/profile_images/668524655221739520/QalLNZdn.jpg" alt="David Ray Design + Code">
      </div>
      <div class="home-hero-right">
        <h1>David Ray</h1>
        <h2>Design + Develop</h2>
        <p><small><i class="fa fa-map-marker"></i> Southern California</small></p>
        <div class="icon-row">
          <a href="mailto:David.Ray.WC@gmail.com?subject=Portfolio" class="btn"><i class="fa fa-envelope"></i></a>
          <a href="https://github.com/david-ray-wc" class="btn"><i class="fa fa-github"></i></a>
          <a href="https://www.linkedin.com/in/davidraywc
" class="btn"><i class="fa fa-linkedin"></i></a>
          <a href="#" class="btn"><i class="fa fa-file-text"></i></a>
        </div>
      </div>
    </div>
  </section>

  <section class="section-main container">
    <h2>My Work</h2>
    <div class="main-left">

      <article class="project-item card">
        <div class="card-left">
        </div>
        <div class="card-right">
          <h3 class="faded">
            Application
          </h3>
          <h2><a href="http://disco.daplgray.com" target="_blank">DISCoverBEST</a></h2>
          <p>Twitter for album reviews. DISCoverBEST is a design concept for a social music discovery webapp. Users write and read micro-reviews of albums and follow users with similar taste. I designed and coded the whole static frontend of this website using and modifying Bootstrap 3.</p>
          <div class="card project-photo">
            <a href="http://disco.daplgray.com" target="_blank"><img src="/images/DISCoverBEST.jpeg" alt="DISCoverBEST"></a>
          </div>
          <a class="btn" href="http://disco.daplgray.com" target="_blank">Visit the Site</a>
        </div>
      </article>

      <article class="project-item card project-item--article">
        <div class="card-left">
        </div>
        <div class="card-right">
          <h3 class="faded">
            Article
          </h3>
          <h2><a href="http://buzzhub.daplgray.com" target="_blank">Designing Heyng</a></h2>
          <p>Designing Snapchat for events. Heyng is a design concept for a social network about meeting up with people in person. The UI is based on Snapchat. This is an article that shows what went into the design and prototype of this mobile app.</p>
          <div class="card project-photo">
            <a href="http://buzzhub.daplgray.com" target="_blank"><img src="/images/medium-article.jpg" alt="medium-highlight"></a>
          </div>
          <a class="btn" href="http://disco.daplgray.com" target="_blank">Read the Article</a>
        </div>
      </article>

      <article class="project-item card">
        <div class="card-left">
        </div>
        <div class="card-right">
          <h3 class="faded">
            Application
          </h3>
          <h2><a href="http://buzzhub.daplgray.com" target="_blank">BuzzHub</a></h2>
          <p>GitHub without the Git. BuzzHub is a design concept for a project management webapp. It brings all of the benefits of GitHub to a much less technical audience. I designed and coded the static frontend of the website and included a medium-style editor instead of GitHub's markdown editor.</p>
          <div class="card project-photo">
            <a href="http://buzzhub.daplgray.com" target="_blank"><img src="/images/BuzzHub.png" alt="BuzzHub"></a>
          </div>
          <a class="btn" href="http://buzzhub.daplgray.com" target="_blank">Visit the Site</a>
        </div>
      </article>

      <article class="project-item card project-item--open-source">
        <div class="card-left">
        </div>
        <div class="card-right">
          <h3 class="faded">
            Open Source
          </h3>
          <h2><a href="http://boilermaker.daplgray.com" target="_blank">Boilermaker</a></h2>
          <p>Bourbon-flavored static site generating boilerplate. Boilermaker is a boilerplate for Middleman static site generator. It is built for protoyping with Thoughtbot's Bourbon, Neat, and Bitters and is easily deployed using Surge.</p>
          <div class="card project-photo">
            <a href="http://boilermaker.daplgray.com" target="_blank"><img src="/images/Boilermaker.png" alt="medium-highlight"></a>
          </div>
          <a class="btn" href="http://boilermaker.daplgray.com" target="_blank">Check it Out</a>
        </div>
      </article>

      <article class="project-item card project-item--article">
        <div class="card-left">
        </div>
        <div class="card-right">
          <h3 class="faded">
            Article
          </h3>
          <h2><a href="http://disco.daplgray.com" target="_blank">Choosing the Right Tool</a></h2>
          <p>A general overview of the many ways websites are built today. This should help you decide what direction to head in when you have the idea, "I have a good idea for a website".</p>
          <a class="btn" href="http://disco.daplgray.com" target="_blank">Read the Article</a>
        </div>
      </article>

      <article class="project-item card">
        <div class="card-left">
        </div>
        <div class="card-right">
          <h3 class="faded">
            Application
          </h3>
          <h2><a href="http://vuechat121.surge.sh" target="_blank">VueChat</a></h2>
          <p>VueChat is a simple realtime chat app I made with Vue.js and Firebase. Feel free to test it out. You can delete conversations by clicking on them.</p>
          <a class="btn" href="http://vuechat121.surge.sh" target="_blank">Visit the Site</a>
        </div>
      </article>

      <article class="project-item card project-item--article">
        <div class="card-left">
        </div>
        <div class="card-right">
          <h3 class="faded">
            Article
          </h3>
          <h2><a href="http://codepen.io/dayray023/full/BKVvYR/" target="_blank">Flexy is Sexy</a></h2>
          <p>I'm a card carrying member of the Flexbox appreciation club. This was a Codepen experiment in recreating popular user interfaces using only flexbox positioning. It also features basic styling from Bootstrap 4.</p>
          <a class="btn" href="http://codepen.io/dayray023/full/BKVvYR/" target="_blank">Read the Article</a>
        </div>
      </article>



    </div>

    <div class="tools-aside">
      <h3>What I Know</h3>
      <ul>
        <li><i class="fa fa-html5"></i> HTML5</li>
        <li><i class="fa fa-css3"></i> CSS3</li>
        <li><i class="fa fa-code"></i> Javascript</li>
        <li><i class="fa fa-paint-brush"></i> Design</li>
        <li><i class="fa fa-hand-pointer-o"></i> Prototyping</li>
      </ul>
      <h3>My Favorite Tools</h3>
      <ul>
        <li><i class="fa fa-css3"></i> Sass</li>
        <li><i class="fa fa-diamond"></i> Sketch</li>
        <li><i class="fa fa-hand-pointer-o"></i> inVision</li>
        <li><i class="fa fa-css3"></i> Bootstrap</li>
        <li><i class="fa fa-code"></i> Middleman</li>
        <li><i class="fa fa-css3"></i> Bourbon / Neat</li>
        <li><i class="fa fa-code"></i> jQuery</li>
        <li><i class="fa fa-code"></i> Vue.js</li>
      </ul>
    </div>

  </section>

</main>
