
// About Section

.about-main {
  margin-top: 1em;
  @include outer-container;

  .about-section-1 {
    img {
      margin-bottom: 3em;
      @include span_columns(12);

      @include media($medium-screen-up) {
        @include span_columns(8);
        @include shift(2);
      };
    }
    article {
      @include span_columns(12);
      @include shift(0);

      @include media($medium-screen-up) {
        @include span_columns(6);
        @include shift(3);
      };

      h1::after {
        content: " ";
        display: block;
        border-bottom: 3px solid tomato;
        width: 66%;
      }
    }
  }
}
